[submodule "backbones/ema-vfi"]
	path = backbones/ema-vfi
	url = https://github.com/MCG-NJU/EMA-VFI.git
[submodule "backbones/ema_vfi"]
	path = backbones/ema_vfi
	url = https://github.com/MCG-NJU/EMA-VFI.git
[submodule "backbones/gmfss"]
	path = backbones/gmfss
	url = https://github.com/98mxr/GMFSS_Fortuna
